.FormGroup {
  position: relative;
}

.FormGroup {
  width: 100%;
  display: inline-block;
  padding: 1em 10px;
  margin-bottom: 1em;
}

.FormGroup input,
.FormGroup textarea,
.FormGroup select {
  width: 100%;
  -webkit-appearance: none;
  background: white;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"] {
  -moz-appearance: test-field;
}

.FormGroup select {
  background: white;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
}
.FormGroup .selectWrapper {
  position: relative;
}
.FormGroup .selectWrapper::after {
  content: url("../../../assets/select-arrow.svg");
  width: 15px;
  height: 15px;
  right: 10px;
  top: 10px;
  display: inline-block;
  position: absolute;
}

.FormGroup label {
  position: absolute;
  top: -0.85em;
  text-transform: uppercase;
  color: #666;
  font-size: 0.75em;
}
.FormGroup input,
.FormGroupText textarea,
.FormGroup select {
  border: #666 solid 1px;
}

.FormGroup input,
.FormGroup select {
  height: 40px;
  padding: 0px 10px;
}

.FormGroupText textarea {
  height: 250px;
  padding: 10px;
}

.FormGroup input:focus,
.FormGroupText textarea:focus,
.FormGroup select:focus {
  outline: none;
}

.FormGroup.Quarter,
.FormGroup.Half {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .FormGroup label {
    font-size: 0.9em;
    letter-spacing: 2px;
  }
  .FormGroup.Quarter {
    width: 25%;
  }
  .FormGroup.Full {
    width: 100%;
  }
  .FormGroup.Half {
    width: 50%;
  }
  .FormGroup {
    width: 50%;
  }

  .FormGroupText {
    width: 100%;
  }

  .FormGroup::before,
  .FormGroupText::before {
    content: "";
    background: black;
    display: block;
    position: absolute;
    margin: 1em 10px;
    width: calc(100% - 20px);
    bottom: 0px;
    left: 0px;
    z-index: -1;
    border: 2px solid #c1ff3e;
    opacity: 0;
    transition: all 300ms;
  }

  .FormGroup::before {
    height: 40px;
  }
  .FormGroupText::before {
    height: 250px;
  }

  .FormGroup:focus-within::before {
    bottom: -10px;
    left: 10px;
    opacity: 1;
    transition: all 300ms;
  }

  .FormGroupText:focus-within::before {
    bottom: -10px;
    left: 15px;
    opacity: 1;
    transition: all 300ms;
  }
}
