.FormGroup {
  position: relative;
}

.FormGroup {
  width: 100%;
  display: inline-block;
  padding: 1em 10px;
  margin-bottom: 1em;
}

.FormGroup input,
.FormGroup textarea {
  width: 100%;
}

.FormGroup label {
  position: absolute;
  top: -0.85em;
  text-transform: uppercase;
  color: #666;
  font-size: 0.9em;
  letter-spacing: 2px;
}
.FormGroup input,
.FormGroupText textarea {
  border: #666 solid 1px;
}

.FormGroup input {
  height: 40px;
  padding: 0px 10px;
}

.FormGroupText textarea {
  height: 250px;
  padding: 10px;
}

.FormGroup input:focus,
.FormGroupText textarea:focus {
  outline: none;
}

@media screen and (min-width: 800px) {
  .FormGroup {
    width: 50%;
  }

  .FormGroupText {
    width: 100%;
  }

  .FormGroup::before,
  .FormGroupText::before {
    content: "";
    background: black;
    display: block;
    position: absolute;
    margin: 1em 10px;
    width: calc(100% - 20px);
    bottom: 0px;
    left: 0px;
    z-index: -1;
    border: 2px solid #c1ff3e;
    opacity: 0;
    transition: all 300ms;
  }

  .FormGroup::before {
    height: 40px;
  }
  .FormGroupText::before {
    height: 250px;
  }

  .FormGroup:focus-within::before {
    bottom: -10px;
    left: 10px;
    opacity: 1;
    transition: all 300ms;
  }

  .FormGroupText:focus-within::before {
    bottom: -10px;
    left: 15px;
    opacity: 1;
    transition: all 300ms;
  }
}
