.Eventslider {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 0.25em 0;
  margin: 0;
  background: black;
  color: white;
  z-index: 20;
  font-size: 0.8em;
}

.Eventslider p {
  position: absolute;
  text-align: right;
  margin: 0;
  padding: 0;
}

.Eventslider p.active {
  animation-name: slide;
  animation-duration: 25000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Eventslider p.reset {
  left: 0px;
}

@keyframes slide {
  100% {
    left: 100vw;
  }
}
