.SectionHeadline {
  margin: 75px auto 10px auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
}

.SectionHeadline::before {
  content: url("../../../assets/united-cheer-sports-icon.svg");
  width: 40px;
  display: block;
  margin: 0 auto;
}

.SectionSubline {
  margin-bottom: 50px;
  line-height: 1.3em;
  font-size: 1.05em;
  text-align: center;
  letter-spacing: 0.5px;
}
