.SecondaryButton {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  border: #c1ff2e 2px solid;
  font-size: 1.35em;
  width: 250px;
  height: 55px;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-top: 3em;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}

.SecondaryButton::before {
  content: attr(data-text);
  position: absolute;
  border-radius: 2px;
  top: 0.5em;
  left: 0.5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #000000 2px solid;
  transition: all 300ms;
  background: white;
}

.SecondaryButton:hover::before {
  top: -0.5em;
  left: -0.5em;
  color: black;
}

.SecondaryButton:focus {
  color: black;
}
