.TeamContainer {
  display: flex;
  margin-top: -50px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (min-width: 800px) {
  .TeamContainer {
    flex-wrap: nowrap;
  }
}
