.MobileNavigationToggle {
  background-image: url("../../../assets/mobile/united-cheer-sports-mobile-menu-toggle-bg.svg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 102;
  transition: all 300ms;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.MobileNavigationToggle .SocialContainer {
  position: relative;
  bottom: -100px;
  transition: all 300ms;
}

.MobileNavigationToggle .SocialContainer a {
  margin-right: 1em;
}

.MobileNavigationToggle .SocialContainer a img {
  width: 30px;
}

.MobileNavigationAccent {
  background-image: url("../../../assets/mobile/united-cheer-sports-mobile-menu-accent-bg.svg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 1em 1em 1em 1em;
  width: 100%;
  position: fixed;
  bottom: -2em;
  left: 0;
  z-index: 101;
  transition: all 750ms;
}

.MobileNavigationToggle .ToggleButton {
  width: 30px;
}

.MobileNavigationContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(black, #c1ff2e);
  top: 0;
  left: -100vw;
  transition: all 500ms;
  z-index: 100;
  padding: 1.5em 1.5em;
}

.MobileNavigationContainer .Logo {
  width: 120px;
}

.MenuItemContainer {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.MenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}

.MenuItemContainer .MenuItemIcon {
  width: 20px;
  margin-right: 1em;
}

.MenuItemContainer .MenuItemName {
  color: white;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
}

/* openMenu */
.openMenuBody {
  height: 100%;
  overflow: hidden;
}

.MobileNavigationContainer.openMenu {
  left: 0;
  transition: all 500ms;
}

.MobileNavigationToggle.openMenu {
  padding: 5em 1em 1em 1em;
}

.MobileNavigationToggle.openMenu .SocialContainer {
  bottom: 0px;
  transition: all 300ms;
}

.MobileNavigationAccent.openMenu {
  padding-top: 13em;
}

@media screen and (min-width: 800px) {
  .MobileNavigationToggle {
    display: none;
  }
}
